.contact-content {
  min-height: 300px;
}
.contact-content-header-img {
  max-height: 300px;
  position: relative;
}
.contact-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--secondary-color);
  font-size: var(--font-size-large);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: var(--spacing-base);
  text-shadow: 0 0 5px var(--ternary);
}
@media (max-width: 768px) {
  .contact-title {
    font-size: var(--font-size-small);
  }
}
.contact-content-header-img img {
  max-height: 300px;
  object-fit: cover;
}
.contact-wrap {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 30% 70%);
}
.contact-wrap .contact-address {
  line-height: 1.5;
  margin-top: var(--spacing-large);
  max-width: 600px;
  padding: 0 var(--spacing-large);
}
@media(max-width:768px){
  .contact-wrap {
    display: block;
  }
  .contact-address{
    margin-bottom:1rem;
  }
}
