.fooditems-content {
  min-height: 300px;
  margin-bottom: var(--spacing-medium-large);
}
.fooditems-content-header-img {
  max-height: 300px;
  position: relative;
}
.fooditems-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--secondary-color);
  font-size: var(--font-size-large);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: var(--spacing-base);
  text-shadow: 0 0 5px var(--ternary);
}
@media (max-width: 768px) {
  .fooditems-title {
    font-size: var(--font-size-small);
  }
}
.fooditems-content-header-img img {
  max-height: 300px;
  object-fit: cover;
}
.menu-list {
  margin-left: var(--spacing-vvlarge);
  color: var(--ternary);
}
.food-items {
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: var(--spacing-medium-large);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 0;
}
@media (max-width: 768px) {
  .food-items {
    width: 100%;
    padding: 0 var(--primary-padding);
    margin: var(--spacing-small) 0;
  }
  .grid-container {
    width: 100%;
    display: block;
    margin-top: 0;
  }
  .grid-item {
    margin: var(--primary-margin) 0;
  }
}
.grid-item {
  border: 1px solid #ccc;
  padding: var(--spacing-small);
  border-radius: var(--spacing-base);
}
.grid-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.btn-filter {
  padding: 5px 0;
  border-radius: var(--spacing-base);
  border: 1px solid #ccc;
  margin: 5px 0;
  cursor: pointer;
  width: 90px;
  white-space: nowrap;
}

.btn-filter.active {
  background-color: var(--ternary);
}
